<div class="topbar">

    <div class="container">

        <div class="topbar-left">

            <i class="fa-solid fa-location-dot"></i>
            Lima - Perú

        </div>

        <div class="topbar-right">

            <a href="mailto:netperu100@hotmail.com">

                <i class="fa-solid fa-envelope"></i>
                netperu100@hotmail.com

            </a>

        </div>

    </div>

</div>

<!-- NAVBAR -->

<header class="navbar">

    <div class="container nav-wrapper">

        <a href="/" class="logo">

            <img src="http://www.ds3comunicaciones.com/mikrotik/images/Logo1.jpg" alt="DS3 Comunicaciones">

        </a>

        <nav class="nav-menu">

            <a href="/index.html">Inicio</a>

            <div class="nav-dropdown products-dropdown">

                <button class="dropdown-btn">

                    Productos

                    <i class="fa-solid fa-chevron-down"></i>

                </button>

                <div class="brand-subnav">

                    <div class="brand-subnav__inner">

                        <a href="#" class="nav-item">

                            <div class="icon-container">
                                <i class="fa-solid fa-network-wired"></i>
                            </div>

                            <span>Switch Catalyst</span>

                        </a>

                        <a href="#" class="nav-item">

                            <div class="icon-container">
                                <i class="fa-solid fa-building"></i>
                            </div>

                            <span>Cisco Business</span>

                        </a>

                        <a href="#" class="nav-item">

                            <div class="icon-container">
                                <i class="fa-solid fa-industry"></i>
                            </div>

                            <span>Switch Industrial</span>

                        </a>

                        <a href="#" class="nav-item">

                            <div class="icon-container">
                                <i class="fa-solid fa-wifi"></i>
                            </div>

                            <span>Aironet</span>

                        </a>

                        <a href="#" class="nav-item">

                            <div class="icon-container">
                                <i class="fa-solid fa-phone"></i>
                            </div>

                            <span>Teléfono IP</span>

                        </a>

                        <a href="#" class="nav-item">

                            <div class="icon-container">
                                <i class="fa-solid fa-cloud"></i>
                            </div>

                            <span>Meraki</span>

                        </a>

                        <a href="#" class="nav-item">

                            <div class="icon-container">
                                <i class="fa-solid fa-plug"></i>
                            </div>

                            <span>Transceiver</span>

                        </a>

                    </div>

                </div>

            </div>

            <div class="nav-dropdown">

                <button class="dropdown-btn">

                    Nuestras Marcas

                    <i class="fa-solid fa-chevron-down"></i>

                </button>

                <div class="mega-brands">

                    <a href="#" class="brand-item">
                        <img src="http://www.ds3comunicaciones.com/belden/images/ALFA_logo1.gif">
                    </a>

                    <a href="#" class="brand-item">
                        <img src="http://www.ds3comunicaciones.com/belden/images/airlivelogo.gif">
                    </a>

                    <a href="#" class="brand-item">
                        <img src="http://www.ds3comunicaciones.com/andrew/images/logo_andrew.jpg">
                    </a>

                    <a href="#" class="brand-item">
                        <img src="http://www.ds3comunicaciones.com/belden/images/amp_logo2-91x20.jpg">
                    </a>

                    <a href="#" class="brand-item">
                        <img src="http://www.ds3comunicaciones.com/belden/images/amphenol_logo-100x21.jpg">
                    </a>

                    <a href="#" class="brand-item">
                        <img src="http://www.ds3comunicaciones.com/belden/images/Belden-Logo-93x15.jpg">
                    </a>

                    <a href="#" class="brand-item">
                        <img src="http://www.ds3comunicaciones.com/cisco/images/logo-cisco.gif">
                    </a>

                    <a href="#" class="brand-item">
                        <img src="http://www.ds3comunicaciones.com/dahua/images/dahua_logo.jpg">
                    </a>

                    <a href="#" class="brand-item">
                        <img src="http://www.ds3comunicaciones.com/belden/images/D-Link_Logo-100x26.jpg">
                    </a>

                    <a href="#" class="brand-item">
                        <img src="http://www.ds3comunicaciones.com/belden/images/mikrotik_logo-100x24.png">
                    </a>

                    <a href="#" class="brand-item">
                        <img src="http://www.ds3comunicaciones.com/panduit/images/panduit_logo.jpg">
                    </a>

                    <a href="#" class="brand-item">
                        <img src="http://www.ds3comunicaciones.com/siemon/images/siemon_logo1.GIF">
                    </a>

                    <a href="#" class="brand-item">
                        <img src="http://www.ds3comunicaciones.com/belden/images/tp-link_logo-100x13.jpg">
                    </a>

                    <a href="#" class="brand-item">
                        <img src="http://www.ds3comunicaciones.com/belden/images/trendnet_logo-100x20.jpg">
                    </a>

                    <a href="#" class="brand-item">
                        <img src="http://www.ds3comunicaciones.com/belden/images/ubnt_logo-100x47.png">
                    </a>

                </div>

            </div>

            <a href="/contacto/">
                Contacto
            </a>

        </nav>

        <div class="nav-actions">

            <div class="search-box">

                <form action="/buscar/" method="GET">

                    <input type="text" name="q" placeholder="Buscar código..." required>

                    <button type="submit" class="search-btn">

                        <i class="fa-solid fa-magnifying-glass"></i>

                    </button>

                </form>

            </div>

            <button class="mobile-btn">

                <i class="fa-solid fa-bars"></i>

            </button>

        </div>

    </div>

</header>
<nav class="breadcrumb">
    <a href="index.html">
        <i class="fa-solid fa-house"></i>
    </a>

    <span class="separator">
        <i class="fa-solid fa-angle-right"></i>
    </span>

    <a href="#" id="brand">AMP NETCONNECT</a>

    <span class="separator">
        <i class="fa-solid fa-angle-right"></i>
    </span>

    <a href="#" id="category">Cable UTP</a>

    <span class="separator">
        <i class="fa-solid fa-angle-right"></i>
    </span>

    <span class="current" id="product-code"></span>
</nav>
